
.Todoliste-page{
    background-color: #90CAF9;
}

.search-input{
    outline: none;
}

.partie-aside{
    background-color: #1E88E5;
}


.form-card input,
select{
    height: 3rem;
}

.divesion-card{
    height: 8rem;
    background-color: #E3F2FD;
}

.divesion-card h4{
    font-size: 2vw;
}

.footer{
    background-color: #0D47A1;
}