
.Todoliste-page{
    background-color: #90CAF9;
}

.search-input{
    outline: none;
}

.partie-aside{
    background-color: #1E88E5;
}
.footer{
    background-color: #0D47A1;
}

.form-card input,
select{
    height: 3rem;
}

.status-card{
    min-height: 8rem;
    max-height: 24rem;
    background-color: #E3F2FD;
}
